Node-RED/ncd-dashboard.json
[{"id":"b4f3d010637229a4","type":"subflow","name":"Ultrasound Vibration","info":"","category":"NCD","in":[{"x":220,"y":1180,"wires":[{"id":"a0912d890cd4e732"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-bullseye","status":{"x":1880,"y":1100,"wires":[{"id":"03d1cfec675fe0af","port":0},{"id":"5231f45c1d9addf1","port":0},{"id":"837cf99eab6d2cdb","port":0}]}},{"id":"30663527784fde46","type":"ui-template","z":"b4f3d010637229a4","group":"23ee9ee007acb60b","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#2ed280\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-square-wave\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                ADC\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 47px;\n    font-weight: bold !important;\n    top: -2px !important;\n    left: 25px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3650,"y":960,"wires":[[]]},{"id":"a32c71781e4d806c","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"32000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3525,"y":960,"wires":[["30663527784fde46"]],"l":false},{"id":"a1b84849814c6e30","type":"ui-chart","z":"b4f3d010637229a4","group":"23ee9ee007acb60b","name":"ch1Adc","label":"","order":2,"chartType":"line","category":"ch1Adc","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c1_raw_adc","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#5dfcaf","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":3620,"y":1000,"wires":[[]]},{"id":"35e0fd814f9cac0f","type":"ui-template","z":"b4f3d010637229a4","group":"2df616623f3f5e33","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#feb425\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-current-dc\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                mA\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3650,"y":1100,"wires":[[]]},{"id":"abdc96d4db269c8a","type":"link in","z":"b4f3d010637229a4","name":"link in 19","links":["b0a8c7d77539dab6"],"x":3385,"y":1140,"wires":[["a971095210acb13f","4eb04b07852f8d40","66ef7e775e4d6618","a1b84849814c6e30","36da255aae987595","08e0bf3a6f674ee3","e7c629d219498b30","05a17d34f3d7e932"]]},{"id":"8671f7a65ac70a38","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"20","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3525,"y":1100,"wires":[["35e0fd814f9cac0f"]],"l":false},{"id":"4eb04b07852f8d40","type":"ui-chart","z":"b4f3d010637229a4","group":"2df616623f3f5e33","name":"ch1mA","label":"","order":2,"chartType":"line","category":"ch1mA","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c1_ma","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ffbd23","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":3620,"y":1140,"wires":[[]]},{"id":"219dc2f625387117","type":"ui-template","z":"b4f3d010637229a4","group":"8e70e106371bbf30","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#fe4876\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-waveform\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                dB\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3650,"y":1240,"wires":[[]]},{"id":"7502ffd7b1c17752","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3525,"y":1240,"wires":[["219dc2f625387117"]],"l":false},{"id":"08e0bf3a6f674ee3","type":"ui-chart","z":"b4f3d010637229a4","group":"8e70e106371bbf30","name":"ch1dB","label":"","order":2,"chartType":"line","category":"ch1dB","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c1_db","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#fb4442","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":3610,"y":1280,"wires":[[]]},{"id":"3f31f873195b9d18","type":"function","z":"b4f3d010637229a4","name":"is type 89","func":"flow.set(\"type\", msg.data.sensor_type)\nlet unit = {\n    groups: \n    { \n        hide: [\"ncd-ultrasound:Inspect1\",\n                \"ncd-ultrasound:Inspect2\",\n                \"ncd-ultrasound:Inspect3\",\n                \"ncd-ultrasound:idle1\",\n                \"ncd-ultrasound:idle2\",\n                \"ncd-ultrasound:idle3\",\n                \"ncd-ultrasound:battSingle\"\n                ],\n        show: [\"ncd-ultrasound:ultrasound_group1\",\n                \"ncd-ultrasound:ultrasound_group3\",\n                \"ncd-ultrasound:ultrasound_group5\",\n                \"ncd-ultrasound:ultrasound_group2\",\n                \"ncd-ultrasound:ultrasound_group4\",\n                \"ncd-ultrasound:ultrasound_group6\",\n                \"ncd-ultrasound:battCh1\"\n                ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1560,"wires":[["f8c6bfb331159f33","da1beaf5059dfb9c"]]},{"id":"f2a499ecaad676af","type":"ui-template","z":"b4f3d010637229a4","group":"6f9e0615334f8b7a","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#00aaa0\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-square-wave\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                ADC\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4070,"y":960,"wires":[[]]},{"id":"cbe3d6e6be8097a4","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_raw_adc","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3885,"y":960,"wires":[["755ad7d1b82a9e87"]],"l":false},{"id":"4cf1d62191873f1d","type":"link in","z":"b4f3d010637229a4","name":"link in 21","links":["b0a8c7d77539dab6"],"x":3815,"y":1100,"wires":[["cbe3d6e6be8097a4","b1408d134c53b1ab","4006e1951ad3d6cf","80d8ce4853b904e1","e8219c62f5abb214","a164ab8fd392f3d5"]]},{"id":"755ad7d1b82a9e87","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"32000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3935,"y":960,"wires":[["f2a499ecaad676af"]],"l":false},{"id":"b1408d134c53b1ab","type":"ui-chart","z":"b4f3d010637229a4","group":"6f9e0615334f8b7a","name":"ch2Adc","label":"","order":2,"chartType":"line","category":"ch2Adc","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c2_raw_adc","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#00aaa0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":4040,"y":1000,"wires":[[]]},{"id":"314334a144ac13f4","type":"ui-template","z":"b4f3d010637229a4","group":"37cac2d1d11047af","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#f4c276\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-current-dc\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                mA\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4070,"y":1100,"wires":[[]]},{"id":"4006e1951ad3d6cf","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_ma","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3885,"y":1100,"wires":[["5ffe486025cda08f"]],"l":false},{"id":"5ffe486025cda08f","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"20","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3935,"y":1100,"wires":[["314334a144ac13f4"]],"l":false},{"id":"80d8ce4853b904e1","type":"ui-chart","z":"b4f3d010637229a4","group":"37cac2d1d11047af","name":"ch2mA","label":"","order":2,"chartType":"line","category":"ch2mA","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c2_ma","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#f4c276","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":4040,"y":1140,"wires":[[]]},{"id":"17553c29906ae5e3","type":"ui-template","z":"b4f3d010637229a4","group":"8455b5bd3508bb43","page":"","ui":"","name":"circular1 (master)","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#f45e6e\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-waveform\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                dB\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4070,"y":1240,"wires":[[]]},{"id":"e8219c62f5abb214","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_db","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3885,"y":1240,"wires":[["5432af0af0cf0efe"]],"l":false},{"id":"5432af0af0cf0efe","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3935,"y":1240,"wires":[["17553c29906ae5e3"]],"l":false},{"id":"a164ab8fd392f3d5","type":"ui-chart","z":"b4f3d010637229a4","group":"8455b5bd3508bb43","name":"ch2dB","label":"","order":2,"chartType":"line","category":"ch2dB","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"c2_db","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#f45e6e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":4030,"y":1280,"wires":[[]]},{"id":"a0d80956f7194524","type":"function","z":"b4f3d010637229a4","name":"is type 88","func":"flow.set(\"type\", msg.data.sensor_type)\nlet unit = {\n    groups: \n    { \n            hide: [\"ncd-ultrasound:Inspect1\",\n                \"ncd-ultrasound:Inspect2\",\n                \"ncd-ultrasound:Inspect3\",\n                \"ncd-ultrasound:ultrasound_group1\",\n                \"ncd-ultrasound:ultrasound_group3\",\n                \"ncd-ultrasound:ultrasound_group5\",\n                \"ncd-ultrasound:ultrasound_group2\",\n                \"ncd-ultrasound:ultrasound_group4\",\n                \"ncd-ultrasound:ultrasound_group6\",\n                \"ncd-ultrasound:battCh1\"\n                ],\n            show:[\n                \"ncd-ultrasound:idle1\",\n                \"ncd-ultrasound:idle2\",\n                \"ncd-ultrasound:idle3\",\n                \"ncd-ultrasound:battSingle\"\n                ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1520,"wires":[["d2d4636f62861681","da1beaf5059dfb9c"]]},{"id":"36da255aae987595","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_db","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3475,"y":1240,"wires":[["7502ffd7b1c17752"]],"l":false},{"id":"a971095210acb13f","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_ma","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3475,"y":1100,"wires":[["8671f7a65ac70a38"]],"l":false},{"id":"66ef7e775e4d6618","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_raw_adc","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3475,"y":960,"wires":[["a32c71781e4d806c"]],"l":false},{"id":"05902421b6b5cba0","type":"ui-template","z":"b4f3d010637229a4","group":"8a5d873f5ecf6475","page":"","ui":"","name":"ADC (master)","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#2ed280\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-square-wave\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div color=\"#2ed280\">\n                {{ msg.scale }}\n                <br>\n                <br>\n                ADC\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 47px;\n    font-weight: bold !important;\n    top: -2px !important;\n    left: 7px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3260,"y":920,"wires":[[]]},{"id":"bf716d0a543be673","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.raw_adc","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3095,"y":920,"wires":[["1443f4b1d0e8c3ab"]],"l":false},{"id":"1443f4b1d0e8c3ab","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"32000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3145,"y":920,"wires":[["05902421b6b5cba0"]],"l":false},{"id":"cdb06c7f83d3a79d","type":"ui-chart","z":"b4f3d010637229a4","group":"8a5d873f5ecf6475","name":"ADC","label":"","order":9007199254740991,"chartType":"line","category":"adc","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"raw_adc","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#5dfcaf","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart1","x":3230,"y":960,"wires":[[]]},{"id":"0626b9d50b88e1d3","type":"ui-template","z":"b4f3d010637229a4","group":"2af7694ec706978a","page":"","ui":"","name":"mA","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#feb425\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-current-dc\"></v-icon>\n                <br>\n                <br>\n                </div>\n                <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                mA\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3230,"y":1020,"wires":[[]]},{"id":"e34ea1a3c2a888f2","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ma","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3095,"y":1020,"wires":[["ab2bca54550753d0"]],"l":false},{"id":"0a49418205298ae7","type":"link in","z":"b4f3d010637229a4","name":"link in 25","links":["c81ae4d94066eb6d"],"x":2975,"y":1080,"wires":[["e34ea1a3c2a888f2","0420a2961d12b8c4","bf716d0a543be673","cdb06c7f83d3a79d","9d7004e5b3204836","5f5efee64a2eed2b","c4d2d28a902c9480","c430d166f93a968d"]]},{"id":"ab2bca54550753d0","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"20","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3145,"y":1020,"wires":[["0626b9d50b88e1d3"]],"l":false},{"id":"0420a2961d12b8c4","type":"ui-chart","z":"b4f3d010637229a4","group":"2af7694ec706978a","name":"mA","label":"","order":9007199254740991,"chartType":"line","category":"mA","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"ma","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ffbd23","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart1","x":3230,"y":1060,"wires":[[]]},{"id":"42e41080fb9aed60","type":"ui-template","z":"b4f3d010637229a4","group":"9e64ebe8960f5613","page":"","ui":"","name":"dB","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#fe4876\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-waveform\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                dB\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3230,"y":1120,"wires":[[]]},{"id":"9d7004e5b3204836","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.db","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3095,"y":1120,"wires":[["2e79074b8a056a8b"]],"l":false},{"id":"2e79074b8a056a8b","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3145,"y":1120,"wires":[["42e41080fb9aed60"]],"l":false},{"id":"5f5efee64a2eed2b","type":"ui-chart","z":"b4f3d010637229a4","group":"9e64ebe8960f5613","name":"dB","label":"","order":9007199254740991,"chartType":"line","category":"dB","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"db","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#fb4442","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart1","x":3230,"y":1160,"wires":[[]]},{"id":"f40f13108ab067d8","type":"ui-dropdown","z":"b4f3d010637229a4","group":"ca9f4a91bc652f66","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":730,"y":1480,"wires":[["6586dc2ad7bdb7f0","97bcc0fcf4e786e7"]]},{"id":"b0a8c7d77539dab6","type":"link out","z":"b4f3d010637229a4","name":"link out 3","mode":"link","links":["abdc96d4db269c8a","4cf1d62191873f1d"],"x":2725,"y":1200,"wires":[]},{"id":"6586dc2ad7bdb7f0","type":"function","z":"b4f3d010637229a4","name":"typeOfSelectedMAC","func":"let count = flow.get(\"countMAC\");\nlet type = 0;\nfor (let index = 0; index < count; index++) {\n    if (msg.options[index] == msg.payload)\n    {\n        type = flow.get(\"MAC[\"+index+\"]\")[1];\n    }\n}\nif(type == 88)\n{\n    flow.set(\"flagType\", true)\n    return[msg, null];\n}\nif(type == 89)\n{\n    flow.set(\"flagType\", false)\n    return[null, msg];\n}\nelse\n{\nnode.error(\"Empty or incompatible ncd MAC device\", msg);\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1480,"wires":[["a0d80956f7194524","560b281d4190e2a5"],["3f31f873195b9d18","560b281d4190e2a5"]]},{"id":"2e5f6f53f77a642a","type":"switch","z":"b4f3d010637229a4","name":"","property":"flagType","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2630,"y":1180,"wires":[["c81ae4d94066eb6d"],["b0a8c7d77539dab6"]]},{"id":"c81ae4d94066eb6d","type":"link out","z":"b4f3d010637229a4","name":"link out 4","mode":"link","links":["0a49418205298ae7"],"x":2725,"y":1160,"wires":[]},{"id":"8a456a107422f124","type":"link out","z":"b4f3d010637229a4","name":"link out 5","mode":"link","links":["9333bf35f7ec5806","800e9eacc37c0115","5cb81e1f58646396"],"x":2545,"y":1140,"wires":[]},{"id":"d2d4636f62861681","type":"change","z":"b4f3d010637229a4","name":"clearCharts","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1520,"wires":[["2b5a9586748f7630"]]},{"id":"f93a3420534d8a22","type":"link out","z":"b4f3d010637229a4","name":"toGraphs","mode":"link","links":["e9a5ea1c18ba12de","9887afec6c878561","65b0d8fd8f6f1a9c","8a49d2447cd8f222","c9d43587ce956660","3dade62494ed864c","e1a820e59908c527","4485f15dbff28487","af50b00f6a8b62bc"],"x":2785,"y":1400,"wires":[]},{"id":"71a229b3eb2b70a7","type":"change","z":"b4f3d010637229a4","name":"getBattery","rules":[{"t":"set","p":"payload.battery","pt":"msg","to":"payload.col4","tot":"msg"},{"t":"set","p":"payload.Timestamp","pt":"msg","to":"payload.col11","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":1440,"wires":[["6e0cf39639e6849d"]]},{"id":"cfa8ab79d14df114","type":"file in","z":"b4f3d010637229a4","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2115,"y":1380,"wires":[["994da290fde59197"]],"l":false},{"id":"994da290fde59197","type":"csv","z":"b4f3d010637229a4","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2165,"y":1380,"wires":[["cb6e9cb02fca85d9","4a5488c146e82089"]],"l":false},{"id":"325371f6a0c4df63","type":"change","z":"b4f3d010637229a4","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1200,"wires":[["45d237f98e4ddae5"]]},{"id":"4e520bd66889d371","type":"csv","z":"b4f3d010637229a4","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"nodeId,firmware,battery,battery_percent,counter,sensor_type,sensor_data,sensor_name,type,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1655,"y":1160,"wires":[["c5b971122a14da2b"]],"l":false},{"id":"c5b971122a14da2b","type":"file","z":"b4f3d010637229a4","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1705,"y":1160,"wires":[["57d8bbdea41ed514","837cf99eab6d2cdb"]],"l":false},{"id":"57d8bbdea41ed514","type":"function","z":"b4f3d010637229a4","name":"getAndSetMAC","func":"var newMAC = msg.data.addr;\nvar count = flow.get(\"countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"MAC[\"+index+\"]\")[0]; // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        return [msg, null];\n    }\n}\n// if new MAC is arrive\nflow.set(\"MAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); // Save array [MAC, TYPE]\ncount++;\nflow.set(\"countMAC\", count);\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":1200,"wires":[["660200aded9e5cf7"],["660200aded9e5cf7","301a2351fec3f8fb"]]},{"id":"660200aded9e5cf7","type":"function","z":"b4f3d010637229a4","name":"getMACOptionsForDropdown","func":"let count = flow.get(\"countMAC\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"MAC[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2110,"y":1200,"wires":[["72edabd22f0e3b47","d3aac5170719fc69"]]},{"id":"22af033910df44af","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1460,"wires":[["30aa92259b17500e"]]},{"id":"72edabd22f0e3b47","type":"switch","z":"b4f3d010637229a4","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2400,"y":1180,"wires":[["8a456a107422f124","d578fd3e75ed7f9f"]]},{"id":"6ec798904351616d","type":"change","z":"b4f3d010637229a4","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":1400,"wires":[["efb7a42015cebbd4"]]},{"id":"efb7a42015cebbd4","type":"json","z":"b4f3d010637229a4","name":"json object","property":"payload.data","action":"","pretty":false,"x":2575,"y":1400,"wires":[["24c8ca3c6230a096"]],"l":false},{"id":"24c8ca3c6230a096","type":"function","z":"b4f3d010637229a4","name":"getData","func":"let data = msg.payload.data;\nlet Timestamp = msg.payload.col11;\nmsg = {};\nmsg.payload = data;\nmsg.payload.Timestamp = Timestamp;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2670,"y":1400,"wires":[["f93a3420534d8a22"]]},{"id":"45d237f98e4ddae5","type":"switch","z":"b4f3d010637229a4","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":1200,"wires":[["5231f45c1d9addf1"],["41a7ec6620b32c5c"],["61e66e8010cc5d96"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"41a7ec6620b32c5c","type":"function","z":"b4f3d010637229a4","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1200,"wires":[["4e520bd66889d371"]]},{"id":"61e66e8010cc5d96","type":"function","z":"b4f3d010637229a4","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1240,"wires":[["4e520bd66889d371"]]},{"id":"30aa92259b17500e","type":"switch","z":"b4f3d010637229a4","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1660,"y":1460,"wires":[["21ed9a81d855c1ef"],["c2c1760160a91ed6"]]},{"id":"21ed9a81d855c1ef","type":"function","z":"b4f3d010637229a4","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":1440,"wires":[["a8e15e82d27f8846"]]},{"id":"c2c1760160a91ed6","type":"function","z":"b4f3d010637229a4","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":1480,"wires":[["a8e15e82d27f8846"]]},{"id":"180c6001a6a9be2b","type":"catch","z":"b4f3d010637229a4","name":"","scope":["c5b971122a14da2b","cfa8ab79d14df114"],"uncaught":false,"x":1655,"y":1080,"wires":[["5231f45c1d9addf1"]],"l":false},{"id":"5231f45c1d9addf1","type":"function","z":"b4f3d010637229a4","name":"function 23","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1795,"y":1080,"wires":[[]],"l":false},{"id":"837cf99eab6d2cdb","type":"function","z":"b4f3d010637229a4","name":"function 24","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1795,"y":1120,"wires":[[]],"l":false},{"id":"65945c0aa2f77885","type":"switch","z":"b4f3d010637229a4","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":1160,"wires":[["4adb36739b1bd0b8"],["325371f6a0c4df63"]],"outputLabels":["defaultPath","userPath"]},{"id":"26408927b871eab6","type":"change","z":"b4f3d010637229a4","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["39a220c104d2eae4"]]},{"id":"169d48451601a651","type":"change","z":"b4f3d010637229a4","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1140,"wires":[["402140a50dab8489"]]},{"id":"402140a50dab8489","type":"switch","z":"b4f3d010637229a4","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1140,"wires":[["0a89e0ce3ad71990"]]},{"id":"39a220c104d2eae4","type":"switch","z":"b4f3d010637229a4","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1100,"wires":[["bbb22b3628a4a18b"]]},{"id":"c8da7e267854b587","type":"change","z":"b4f3d010637229a4","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1160,"wires":[["65945c0aa2f77885"]]},{"id":"bbb22b3628a4a18b","type":"change","z":"b4f3d010637229a4","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1100,"wires":[["30b1f22c800621b3"]]},{"id":"e73529f56a6cf36f","type":"function","z":"b4f3d010637229a4","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1140,"wires":[["4e520bd66889d371"]]},{"id":"30b1f22c800621b3","type":"function","z":"b4f3d010637229a4","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1100,"wires":[["4e520bd66889d371"]]},{"id":"0a89e0ce3ad71990","type":"change","z":"b4f3d010637229a4","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1140,"wires":[["e73529f56a6cf36f"]]},{"id":"377e86d80c1adeb7","type":"switch","z":"b4f3d010637229a4","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1320,"y":1380,"wires":[["dca006aafb2d029f","af72c94204aa1915"],["22af033910df44af"]]},{"id":"560b281d4190e2a5","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1380,"wires":[["377e86d80c1adeb7"]]},{"id":"af72c94204aa1915","type":"change","z":"b4f3d010637229a4","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1320,"wires":[["6f308b4dc0a2dbd2"]]},{"id":"dca006aafb2d029f","type":"change","z":"b4f3d010637229a4","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1380,"wires":[["17536dbf408138da"]]},{"id":"17536dbf408138da","type":"switch","z":"b4f3d010637229a4","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":1380,"wires":[["ecfc5a44dc4e868a"]]},{"id":"6f308b4dc0a2dbd2","type":"switch","z":"b4f3d010637229a4","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":1320,"wires":[["13e71d52371bbae3"]]},{"id":"7690c75d52ca765e","type":"function","z":"b4f3d010637229a4","name":"function 34","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1380,"wires":[["cfa8ab79d14df114"]]},{"id":"518c8fadd0597ebc","type":"function","z":"b4f3d010637229a4","name":"function 35","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1320,"wires":[["cfa8ab79d14df114"]]},{"id":"13e71d52371bbae3","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1320,"wires":[["518c8fadd0597ebc"]]},{"id":"ecfc5a44dc4e868a","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1380,"wires":[["7690c75d52ca765e"]]},{"id":"cb6e9cb02fca85d9","type":"function","z":"b4f3d010637229a4","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send(msg) \n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1420,"wires":[["6ec798904351616d","71a229b3eb2b70a7"]]},{"id":"f0ada83a859248d0","type":"catch","z":"b4f3d010637229a4","name":"","scope":["efb7a42015cebbd4"],"uncaught":false,"x":2600,"y":1080,"wires":[[]]},{"id":"2b5a9586748f7630","type":"link out","z":"b4f3d010637229a4","name":"link out 57","mode":"link","links":["65b0d8fd8f6f1a9c","e9a5ea1c18ba12de","9887afec6c878561","a17dc4d77ecb9a83"],"x":1595,"y":1520,"wires":[]},{"id":"f8c6bfb331159f33","type":"change","z":"b4f3d010637229a4","name":"clearCharts","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1560,"wires":[["6e402489d373eb6a"]]},{"id":"6e402489d373eb6a","type":"link out","z":"b4f3d010637229a4","name":"link out 58","mode":"link","links":["8a49d2447cd8f222","c9d43587ce956660","3dade62494ed864c","e1a820e59908c527","4485f15dbff28487","af50b00f6a8b62bc","19c3b767e95061a5"],"x":1595,"y":1560,"wires":[]},{"id":"65b0d8fd8f6f1a9c","type":"link in","z":"b4f3d010637229a4","name":"link in 29","links":["2b5a9586748f7630","f93a3420534d8a22"],"x":3125,"y":960,"wires":[["cdb06c7f83d3a79d"]]},{"id":"e9a5ea1c18ba12de","type":"link in","z":"b4f3d010637229a4","name":"link in 30","links":["2b5a9586748f7630","f93a3420534d8a22"],"x":3115,"y":1060,"wires":[["0420a2961d12b8c4"]]},{"id":"9887afec6c878561","type":"link in","z":"b4f3d010637229a4","name":"link in 31","links":["2b5a9586748f7630","f93a3420534d8a22"],"x":3105,"y":1160,"wires":[["5f5efee64a2eed2b"]]},{"id":"8a49d2447cd8f222","type":"link in","z":"b4f3d010637229a4","name":"link in 32","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3515,"y":1000,"wires":[["a1b84849814c6e30"]]},{"id":"c9d43587ce956660","type":"link in","z":"b4f3d010637229a4","name":"link in 33","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3505,"y":1160,"wires":[["4eb04b07852f8d40"]]},{"id":"3dade62494ed864c","type":"link in","z":"b4f3d010637229a4","name":"link in 34","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3505,"y":1300,"wires":[["08e0bf3a6f674ee3"]]},{"id":"e1a820e59908c527","type":"link in","z":"b4f3d010637229a4","name":"link in 35","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3905,"y":1000,"wires":[["b1408d134c53b1ab"]]},{"id":"4485f15dbff28487","type":"link in","z":"b4f3d010637229a4","name":"link in 36","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3945,"y":1160,"wires":[["80d8ce4853b904e1"]]},{"id":"af50b00f6a8b62bc","type":"link in","z":"b4f3d010637229a4","name":"link in 37","links":["6e402489d373eb6a","f93a3420534d8a22"],"x":3915,"y":1280,"wires":[["a164ab8fd392f3d5"]]},{"id":"da1beaf5059dfb9c","type":"link out","z":"b4f3d010637229a4","name":"link out 60","mode":"link","links":["20ccb498a9532b35"],"x":1365,"y":1600,"wires":[]},{"id":"a0d5bbb0e1316ff4","type":"ui-template","z":"b4f3d010637229a4","group":"fea22b3a89569272","page":"","ui":"","name":"battery","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#1766cb\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-battery-charging-medium\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                BAT\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<!-- <style>\n.circularBatt{\n    font-size: 40px;\n    font-weight: bold !important;\n    top: -2px !important;\n    left: 7px !important;\n}\n</style> -->","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3230,"y":1220,"wires":[[]]},{"id":"c430d166f93a968d","type":"ui-chart","z":"b4f3d010637229a4","group":"fea22b3a89569272","name":"battery","label":"","order":9007199254740991,"chartType":"line","category":"batt","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#1879f4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart1","x":3230,"y":1280,"wires":[[]]},{"id":"f365e6594a43fd08","type":"ui-template","z":"b4f3d010637229a4","group":"27461a0f4bd15afd","page":"","ui":"","name":"dualChbattery","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#5b5c5f\" model-value=\"20\" :size=\"230\" :width=\"26\" color=\"#1766cb\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"white\" icon=\"mdi-battery-charging-medium\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                BAT\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3640,"y":1340,"wires":[[]]},{"id":"05a17d34f3d7e932","type":"ui-chart","z":"b4f3d010637229a4","group":"27461a0f4bd15afd","name":"dualChBatt","label":"","order":9007199254740991,"chartType":"line","category":"batt","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#1879f4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"0","height":"0","className":"u_chart","x":3630,"y":1380,"wires":[[]]},{"id":"d578fd3e75ed7f9f","type":"function","z":"b4f3d010637229a4","name":"function 36","func":"let timestamp = msg.data.received;\nmsg.payload = msg.data.sensor_data;\nmsg.payload.Timestamp = timestamp;\nmsg.payload.battery = msg.data.battery_percent;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2545,"y":1180,"wires":[["2e5f6f53f77a642a"]],"l":false},{"id":"c4d2d28a902c9480","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3095,"y":1220,"wires":[["e664e9f5f95243d4"]],"l":false},{"id":"e664e9f5f95243d4","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3145,"y":1220,"wires":[["a0d5bbb0e1316ff4"]],"l":false},{"id":"a17dc4d77ecb9a83","type":"link in","z":"b4f3d010637229a4","name":"link in 39","links":["2b5a9586748f7630","6e0cf39639e6849d"],"x":3135,"y":1280,"wires":[["c430d166f93a968d"]]},{"id":"19c3b767e95061a5","type":"link in","z":"b4f3d010637229a4","name":"link in 40","links":["6e402489d373eb6a","6e0cf39639e6849d"],"x":3495,"y":1380,"wires":[["05a17d34f3d7e932"]]},{"id":"e7c629d219498b30","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3465,"y":1340,"wires":[["b0d4d283e4d20235"]],"l":false},{"id":"b0d4d283e4d20235","type":"range","z":"b4f3d010637229a4","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3515,"y":1340,"wires":[["f365e6594a43fd08"]],"l":false},{"id":"6e0cf39639e6849d","type":"link out","z":"b4f3d010637229a4","name":"link out 61","mode":"link","links":["a17dc4d77ecb9a83","19c3b767e95061a5"],"x":2595,"y":1440,"wires":[]},{"id":"4a5488c146e82089","type":"function","z":"b4f3d010637229a4","name":"getLastElement","func":"const array = msg.payload;\nmsg.payload = array[array.length - 1];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1340,"wires":[["223e35f9161d2dcf","e4f0ca64ca7d30f8"]]},{"id":"223e35f9161d2dcf","type":"change","z":"b4f3d010637229a4","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":1320,"wires":[["5e506b725d583f58"]]},{"id":"e4f0ca64ca7d30f8","type":"change","z":"b4f3d010637229a4","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":1360,"wires":[["240f018c86019c67"]]},{"id":"5e506b725d583f58","type":"json","z":"b4f3d010637229a4","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2595,"y":1320,"wires":[["c81ae4d94066eb6d","b0a8c7d77539dab6"]],"l":false},{"id":"a0912d890cd4e732","type":"switch","z":"b4f3d010637229a4","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"btwn","v":"88","vt":"num","v2":"89","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":1180,"wires":[["c8da7e267854b587"],["1380a483f02c6e7b"]]},{"id":"1380a483f02c6e7b","type":"function","z":"b4f3d010637229a4","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1200,"wires":[["80a98ff30fbfd7c7"]]},{"id":"80a98ff30fbfd7c7","type":"link out","z":"b4f3d010637229a4","name":"link out 62","mode":"link","links":["03d1cfec675fe0af"],"x":715,"y":1200,"wires":[]},{"id":"03d1cfec675fe0af","type":"link in","z":"b4f3d010637229a4","name":"link in 41","links":["80a98ff30fbfd7c7"],"x":1795,"y":1040,"wires":[[]]},{"id":"d1b1e549a54216d9","type":"ui-template","z":"b4f3d010637229a4","group":"23ee9ee007acb60b","page":"","ui":"","name":"Channel1_ADC","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 1</div>\n</template>\n<style>\n.word {\n    position: absolute !important;\n    font-size: 25px; \n    top: 69px !important;\n    left: -62px;\n    margin: 50px -30px;\n    -ms-transform: rotate(-90deg);\n    transform: rotate(-90deg);\n    background-color: #1a253fd2;\n    width: 216px;\n    text-align: center;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3640,"y":1200,"wires":[[]]},{"id":"c8e8b6e4968520e7","type":"ui-template","z":"b4f3d010637229a4","group":"2df616623f3f5e33","page":"","ui":"","name":"Channel1_mA","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 1</div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3640,"y":1060,"wires":[[]]},{"id":"3322da1b86fa3f1a","type":"ui-template","z":"b4f3d010637229a4","group":"8e70e106371bbf30","page":"","ui":"","name":"Channel1_dB","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 1</div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3640,"y":920,"wires":[[]]},{"id":"fe6aef7f5fbdcc5d","type":"ui-template","z":"b4f3d010637229a4","group":"6f9e0615334f8b7a","page":"","ui":"","name":"Channel2_ADC","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 2</div>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4060,"y":920,"wires":[[]]},{"id":"24b12030f34af88e","type":"ui-template","z":"b4f3d010637229a4","group":"37cac2d1d11047af","page":"","ui":"","name":"Channel2_mA","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 2</div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4060,"y":1060,"wires":[[]]},{"id":"d0ca3b2041be593b","type":"ui-template","z":"b4f3d010637229a4","group":"8455b5bd3508bb43","page":"","ui":"","name":"Channel2_dB","order":3,"width":0,"height":0,"head":"","format":"\n<template>\n    <div class=\"word\">Channel 2</div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4060,"y":1200,"wires":[[]]},{"id":"a4831c7098874afe","type":"link in","z":"b4f3d010637229a4","name":"link in 42","links":["e846de8e83734966"],"x":1365,"y":1540,"wires":[["d2d4636f62861681","f8c6bfb331159f33"]]},{"id":"592b9641607389d5","type":"link in","z":"b4f3d010637229a4","name":"link in 11","links":["e846de8e83734966"],"x":645,"y":1480,"wires":[["f40f13108ab067d8"]]},{"id":"5ef81cd990566fb6","type":"change","z":"b4f3d010637229a4","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"89\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1620,"wires":[["5e94d06f04887455"]]},{"id":"5e94d06f04887455","type":"link out","z":"b4f3d010637229a4","name":"link out 64","mode":"link","links":["5cb81e1f58646396","800e9eacc37c0115","9333bf35f7ec5806"],"x":1215,"y":1620,"wires":[]},{"id":"97bcc0fcf4e786e7","type":"function","z":"b4f3d010637229a4","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1620,"wires":[["5ef81cd990566fb6"]]},{"id":"240f018c86019c67","type":"link out","z":"b4f3d010637229a4","name":"link out 65","mode":"link","links":["7b507127541afe4d","f8adfdb3d6cba7d6"],"x":2595,"y":1360,"wires":[]},{"id":"7b507127541afe4d","type":"link in","z":"b4f3d010637229a4","name":"link in 43","links":["240f018c86019c67"],"x":3025,"y":1220,"wires":[["c4d2d28a902c9480"]]},{"id":"f8adfdb3d6cba7d6","type":"link in","z":"b4f3d010637229a4","name":"link in 44","links":["240f018c86019c67"],"x":3405,"y":1340,"wires":[["e7c629d219498b30"]]},{"id":"e45c0e072a24fc06","type":"ui-notification","z":"b4f3d010637229a4","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":2170,"y":1160,"wires":[]},{"id":"301a2351fec3f8fb","type":"change","z":"b4f3d010637229a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device (\"&(data.addr)&\") has been connected!\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1995,"y":1160,"wires":[["e45c0e072a24fc06"]],"l":false},{"id":"e2ffc8ca6b9b1079","type":"ui-template","z":"b4f3d010637229a4","group":"","page":"fb23b1211846463b","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":"/* ancho de los grupos\n.grupoo{\n    width: 295px !important;\n} */\n/*Largo de grupos*/\n.nrdb-ui-group>.v-card {\n    height: 260px;\n}\n\n.v-main {\n    background-image: url(\"https://www.transparenttextures.com/patterns/cubes.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    border-radius: 15px !important;\n}\n.bg-group-background{\n    background-color: #1a253fd2 !important;\n    border-color: #1a253f !important;;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #1a253fd2 !important;;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #1a253fd2 !important;\n}\n.text\n{\n    top: -13px;\n    left: -11px;\n    position: relative;\n    z-index: 2;\n    width: 280px !important;\n    font-weight: bold !important;\n    \n}\n.u_chart{\n    position: relative;\n    left: 267px !important;\n    top: -271px !important;\n    height: 274px !important;\n    width: 596px !important;\n}\n.u_chart1{\n    position: relative;\n    left: 267px !important;\n    top: -271px !important;\n    height: 274px !important;\n    width: 1492px !important;\n}\n.groupGraph{\n    width: 897px !important;\n}\n.groupIdle{\n    width: 1800px !important;\n}\n\n.nrdb-ui-text{\n    color: yellow !important;\n}\n/*Color de letra nombre grupos*/\n.v-card-title {\n    color: white;\n}\n/* Posicion titulo grupos */\n.v-card-item {\n    left: 234px;\n    position: relative;\n    top: -12px;\n}\n.dataGroup .v-card{\nheight: 1058px !important;\n}\n.grupoSelectMac{\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.grupoSelectMac .v-card{\n    height: 92px !important;\n}\n.datePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.grupoDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoDownload .v-card{\n    height: 155px;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3850,"y":700,"wires":[[]]},{"id":"576e16f1acf29916","type":"ui-template","z":"b4f3d010637229a4","group":"","page":"fb23b1211846463b","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3730,"y":700,"wires":[[]]},{"id":"9ca768aea4a292cf","type":"ui-template","z":"b4f3d010637229a4","group":"","page":"fb23b1211846463b","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/2-channel-industrial-iot-long-range-wireless-ultrasound-vibration-sensors/\" target=\"_blank\">\n        <v-btn class=\"info\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.info{\n    top: -49px !important;\n    left: -160px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3590,"y":700,"wires":[[]]},{"id":"ad1ee09186fcb91e","type":"ui-text-input","z":"b4f3d010637229a4","g":"3310c67c879c816e","group":"e877cb427d4f9eb5","name":"","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"datePicker","x":3570,"y":820,"wires":[["538cea97251bfd9e"]]},{"id":"d6b79502a6c97e77","type":"ui-template","z":"b4f3d010637229a4","g":"3310c67c879c816e","group":"e877cb427d4f9eb5","page":"","ui":"","name":"Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd_ultrasound_Log.csv\">\n        <v-btn class=\"buttonDownload\" color=\"#589FE2\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.buttonDownload {\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3960,"y":820,"wires":[[]]},{"id":"538cea97251bfd9e","type":"change","z":"b4f3d010637229a4","g":"3310c67c879c816e","name":"","rules":[{"t":"set","p":"dateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3750,"y":820,"wires":[[]]},{"id":"24d793444bba5428","type":"function","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"inspect function","func":"let toggle = context.get(\"toggle\") || 0;\nlet flag = flow.get(\"flagType\") || 0;\n\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\"ncd-ultrasound:Inspect1\",\n                   \"ncd-ultrasound:Inspect2\",\n                   \"ncd-ultrasound:Inspect3\"],\n            hide: \n            [\n               \"ncd-ultrasound:idle1\",\n               \"ncd-ultrasound:idle2\",\n               \"ncd-ultrasound:idle3\",\n               \"ncd-ultrasound:battSingle\",\n               \"ncd-ultrasound:ultrasound_group1\", \n               \"ncd-ultrasound:ultrasound_group2\",\n               \"ncd-ultrasound:ultrasound_group3\",\n               \"ncd-ultrasound:ultrasound_group4\",\n               \"ncd-ultrasound:ultrasound_group5\",\n               \"ncd-ultrasound:ultrasound_group6\",\n               \"ncd-ultrasound:battCh1\"\n            ],\n            disable: \n            [\n                \"ncd-ultrasound:selectmac\",\n                \"ncd-ultrasound:download\"\n            ]\n        } \n    }\n    toggle++;\n    //msg.payload = unit;\n    //node.send(msg);\n}\nelse /* Second time */\n{\n    if(!flag)// two channel\n    {\n        unit = {\n            groups: \n            { \n                hide: \n                [\n                    \"ncd-ultrasound:Inspect1\",\n                    \"ncd-ultrasound:Inspect2\",\n                    \"ncd-ultrasound:Inspect3\"\n                ],\n                show: [\"ncd-ultrasound:ultrasound_group1\",\n                    \"ncd-ultrasound:ultrasound_group2\",\n                    \"ncd-ultrasound:ultrasound_group3\",\n                    \"ncd-ultrasound:ultrasound_group4\",\n                    \"ncd-ultrasound:ultrasound_group5\",\n                    \"ncd-ultrasound:ultrasound_group6\",\n                    \"ncd-ultrasound:battCh1\"\n                ],\n                enable : \n                [\n                    \"ncd-ultrasound:selectmac\",\n                    \"ncd-ultrasound:download\"\n                ]\n            } \n        }\n        toggle = 0;\n    }\n    else // one channel\n    {\n        unit = {\n            groups: \n            { \n                hide: [\"ncd-ultrasound:Inspect1\",\n                    \"ncd-ultrasound:Inspect2\",\n                    \"ncd-ultrasound:Inspect3\"],\n                show: \n                [\n                    \"ncd-ultrasound:idle1\",\n                    \"ncd-ultrasound:idle2\",\n                    \"ncd-ultrasound:idle3\",\n                    \"ncd-ultrasound:battSingle\"\n                ],\n                enable : \n                [\n                   \"ncd-ultrasound:selectmac\",\n                   \"ncd-ultrasound:download\"\n                ]\n            } \n        }\n        toggle = 0;\n    }\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":740,"wires":[["c928a3e9743d6262"]]},{"id":"22a20328eeecf9a5","type":"ui-template","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","group":"","page":"fb23b1211846463b","ui":"","name":"inspect button","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"inspectMUTC\" @click=\"send({payload:true})\" color=\"white\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.inspectMUTC{\n    top: -96px !important;\n    left: -303px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3000,"y":740,"wires":[["24d793444bba5428"]]},{"id":"c928a3e9743d6262","type":"ui-control","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"","ui":"ec459411017ddf37","events":"change","x":3380,"y":760,"wires":[[]]},{"id":"2d70425723a24588","type":"function","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"init show","func":"let unit = {\n    groups: \n    { \n            hide: \n            [\n                \"ncd-ultrasound:ultrasound_group1\",\n                \"ncd-ultrasound:ultrasound_group2\",\n                \"ncd-ultrasound:ultrasound_group3\",\n                \"ncd-ultrasound:ultrasound_group4\",\n                \"ncd-ultrasound:ultrasound_group5\",\n                \"ncd-ultrasound:ultrasound_group6\",\n                \"ncd-ultrasound:battCh1\",\n                \"ncd-ultrasound:Inspect1\",\n                \"ncd-ultrasound:Inspect2\",\n                \"ncd-ultrasound:Inspect3\"\n            ],\n            show:\n            [\n                \"ncd-ultrasound:selectmac\",\n                \"ncd-ultrasound:download\",\n                \"ncd-ultrasound:idle1\",\n                \"ncd-ultrasound:idle2\",\n                \"ncd-ultrasound:idle3\",\n                \"ncd-ultrasound:battSingle\"\n            ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":780,"wires":[["c928a3e9743d6262"]]},{"id":"ee1fdc474549366d","type":"ui-event","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","ui":"ec459411017ddf37","name":"","x":2970,"y":780,"wires":[["2d70425723a24588"]]},{"id":"20ccb498a9532b35","type":"link in","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"link in 38","links":["da1beaf5059dfb9c"],"x":3245,"y":820,"wires":[["c928a3e9743d6262"]]},{"id":"058ac2e6ce4ec1f1","type":"inject","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":3035,"y":820,"wires":[["e5d6181d9db0b683"]],"l":false},{"id":"e5d6181d9db0b683","type":"change","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"","rules":[{"t":"delete","p":"countMAC","pt":"flow"},{"t":"delete","p":"MAC","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3085,"y":820,"wires":[["2d70425723a24588","e846de8e83734966"]],"icon":"font-awesome/fa-remove","l":false},{"id":"e846de8e83734966","type":"link out","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"link out 63","mode":"link","links":["592b9641607389d5","a4831c7098874afe"],"x":3165,"y":820,"wires":[]},{"id":"02921d68bfc912a7","type":"link in","z":"b4f3d010637229a4","g":"7409ed7a765f37d9","name":"link in 45","links":["9e599bb232c3ca26"],"x":3245,"y":700,"wires":[["c928a3e9743d6262"]]},{"id":"1ce8ada0dc580759","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3120,"y":1560,"wires":[]},{"id":"7e7964cfb4a6d72d","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3150,"y":1600,"wires":[]},{"id":"1e3a60889e2cdd2a","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3120,"y":1640,"wires":[]},{"id":"fe36dff203c3765e","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3130,"y":1680,"wires":[]},{"id":"aa1a72f092b7b455","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3120,"y":1720,"wires":[]},{"id":"1f9d799dee739be4","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3130,"y":1760,"wires":[]},{"id":"179484281d3307e6","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3140,"y":1800,"wires":[]},{"id":"b4b01f935572f3ad","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3110,"y":1840,"wires":[]},{"id":"d92a792e41674618","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3120,"y":1880,"wires":[]},{"id":"c2c2c08bce35385b","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1560,"wires":[["1ce8ada0dc580759"]],"l":false},{"id":"9333bf35f7ec5806","type":"link in","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"link in 4","links":["8a456a107422f124","5e94d06f04887455"],"x":2935,"y":1740,"wires":[["c2c2c08bce35385b","4d5aeb6181e591dd","b8c323a72e2da89e","32287ef5a5774641","1ae9603b11c6cccf","0848016874ddb72f","2e1430d44688f596","bd6c3f8695aa3ecf","11022c9982b90027","cda6e195335042f3"]]},{"id":"4d5aeb6181e591dd","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1600,"wires":[["7e7964cfb4a6d72d"]],"l":false},{"id":"b8c323a72e2da89e","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1640,"wires":[["1e3a60889e2cdd2a"]],"l":false},{"id":"32287ef5a5774641","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1680,"wires":[["fe36dff203c3765e"]],"l":false},{"id":"1ae9603b11c6cccf","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1720,"wires":[["aa1a72f092b7b455"]],"l":false},{"id":"0848016874ddb72f","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1760,"wires":[["1f9d799dee739be4"]],"l":false},{"id":"2e1430d44688f596","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1800,"wires":[["179484281d3307e6"]],"l":false},{"id":"bd6c3f8695aa3ecf","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1840,"wires":[["b4b01f935572f3ad"]],"l":false},{"id":"11022c9982b90027","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1880,"wires":[["d92a792e41674618"]],"l":false},{"id":"b2008478fe51bae1","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3120,"y":1920,"wires":[]},{"id":"cda6e195335042f3","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":1920,"wires":[["b2008478fe51bae1"]],"l":false},{"id":"7c776758f7995c36","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":2,"width":"0","height":"0","name":"Raw ADC","label":"RAW ADC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3500,"y":1560,"wires":[]},{"id":"0a4d51466e7f8da5","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.raw_adc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1560,"wires":[["7c776758f7995c36"]],"l":false},{"id":"0a34698a4f71c7cd","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":3,"width":"0","height":"0","name":"ma","label":"Miliamps:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3490,"y":1640,"wires":[]},{"id":"bb5b749cc5de4056","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ma","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1640,"wires":[["0a34698a4f71c7cd"]],"l":false},{"id":"a40aa2e66d5355ca","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":4,"width":"0","height":"0","name":"Decibels","label":"Decibels:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3500,"y":1720,"wires":[]},{"id":"50a4a9ca6803a63e","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.db","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1720,"wires":[["a40aa2e66d5355ca"]],"l":false},{"id":"9fc0d01ee58532d5","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":5,"width":"0","height":"0","name":"Raw ADC","label":"RAW ADC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3500,"y":1840,"wires":[]},{"id":"8ac77b07728ab6f8","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_raw_adc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1840,"wires":[["9fc0d01ee58532d5"]],"l":false},{"id":"955e3912d5838947","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":6,"width":"0","height":"0","name":"ma","label":"Miliamps:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3490,"y":1880,"wires":[]},{"id":"18c4cb1f219039f4","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_ma","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1880,"wires":[["955e3912d5838947"]],"l":false},{"id":"84996f54fbb6e0ea","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"083e9339e836abbe","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3110,"y":1520,"wires":[]},{"id":"30c2dcbc047d4033","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3510,"y":1480,"wires":[]},{"id":"800e9eacc37c0115","type":"link in","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"link in 5","links":["8a456a107422f124","5e94d06f04887455"],"x":3275,"y":1760,"wires":[["8ac77b07728ab6f8","18c4cb1f219039f4","0b3ffe046620177e","6846670b60c08e26"]]},{"id":"5d36d0673d66103b","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3910,"y":1520,"wires":[]},{"id":"f4c15e513b625e4c","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3890,"y":1560,"wires":[]},{"id":"6a006cbc4c6ff66e","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1560,"wires":[["f4c15e513b625e4c"]],"l":false},{"id":"32fa41292a0976de","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":7,"width":"0","height":"0","name":"Decibels","label":"Decibels:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3500,"y":1920,"wires":[]},{"id":"0b3ffe046620177e","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c2_db","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1920,"wires":[["32fa41292a0976de"]],"l":false},{"id":"df97fcfbee56703d","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3940,"y":1600,"wires":[]},{"id":"fd5542908791e153","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3890,"y":1640,"wires":[]},{"id":"242fdc442940c42e","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1640,"wires":[["fd5542908791e153"]],"l":false},{"id":"973378027fd72483","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3900,"y":1680,"wires":[]},{"id":"df4541e642e8b88d","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1680,"wires":[["973378027fd72483"]],"l":false},{"id":"6d29816eded2c96c","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3890,"y":1720,"wires":[]},{"id":"67c3efced6b928c1","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1720,"wires":[["6d29816eded2c96c"]],"l":false},{"id":"4272fda8c55dc1c8","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":1760,"wires":[]},{"id":"1d98bda5c73c84bf","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1760,"wires":[["4272fda8c55dc1c8"]],"l":false},{"id":"685dbb6111a78d4e","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3890,"y":1800,"wires":[]},{"id":"7cf370b09b918ee4","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1800,"wires":[["685dbb6111a78d4e"]],"l":false},{"id":"8c0b6225e84c5303","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3890,"y":1840,"wires":[]},{"id":"72de17893ff03e15","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1840,"wires":[["8c0b6225e84c5303"]],"l":false},{"id":"b8735e2552a1c35a","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3940,"y":1940,"wires":[]},{"id":"a41f40e87b7c1f8a","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1940,"wires":[["b8735e2552a1c35a"]],"l":false},{"id":"9b885a4e251e7ed9","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"779f6a10748fb85a","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":3890,"y":1900,"wires":[]},{"id":"5cb81e1f58646396","type":"link in","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"link in 17","links":["8a456a107422f124","5e94d06f04887455"],"x":3695,"y":1760,"wires":[["6a006cbc4c6ff66e","242fdc442940c42e","df4541e642e8b88d","67c3efced6b928c1","1d98bda5c73c84bf","7cf370b09b918ee4","72de17893ff03e15","22d641b14c583310"]]},{"id":"cd5d996028370bcc","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":1,"width":"0","height":"0","name":"Channel 1","label":"Channel 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"18","color":"#000000","className":"","x":3470,"y":1520,"wires":[]},{"id":"101547b45acecd9c","type":"ui-text","z":"b4f3d010637229a4","g":"9a724204adf49b36","group":"313c889dd1a46f2b","order":4,"width":"0","height":"0","name":"Channel 2","label":"Channel 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"18","color":"#424242","className":"","x":3470,"y":1800,"wires":[]},{"id":"a54f0d368353beaf","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_raw_adc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1600,"wires":[["7c776758f7995c36"]],"l":false},{"id":"fdc328cfc92e25c6","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_ma","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1680,"wires":[["0a34698a4f71c7cd"]],"l":false},{"id":"80f3852cd8e4feef","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.c1_db","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3405,"y":1760,"wires":[["a40aa2e66d5355ca"]],"l":false},{"id":"6846670b60c08e26","type":"switch","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"88","vt":"str"},{"t":"eq","v":"89","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3325,"y":1680,"wires":[["50a4a9ca6803a63e","bb5b749cc5de4056","0a4d51466e7f8da5"],["80f3852cd8e4feef","fdc328cfc92e25c6","a54f0d368353beaf"]],"l":false},{"id":"22d641b14c583310","type":"switch","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3755,"y":1920,"wires":[["8df223f18358abe5"],["a41f40e87b7c1f8a"]],"l":false},{"id":"8df223f18358abe5","type":"change","z":"b4f3d010637229a4","g":"9a724204adf49b36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3805,"y":1900,"wires":[["b8735e2552a1c35a"]],"l":false},{"id":"03fd4823ea0e8967","type":"function","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1840,"wires":[["b055ca239b73177b"]]},{"id":"59fb2b4ca8c66398","type":"http response","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","statusCode":"","headers":{},"x":2090,"y":1840,"wires":[]},{"id":"b055ca239b73177b","type":"file in","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1960,"y":1840,"wires":[["59fb2b4ca8c66398"]]},{"id":"f249797ef59567da","type":"catch","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","scope":["b055ca239b73177b"],"uncaught":false,"x":1650,"y":1900,"wires":[["39c1f5330976e746","4e4c285b189f4aaf","b330bccc707c9b0d"]]},{"id":"80ba2382f7a63fc0","type":"http in","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":1170,"y":1840,"wires":[["79900868408fb222","9c14323a10d5295e"]]},{"id":"e5480f6761fff733","type":"change","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"dateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1840,"wires":[["03fd4823ea0e8967"]]},{"id":"79900868408fb222","type":"change","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1295,"y":1820,"wires":[["75f701b40181efe8"]],"l":false},{"id":"9c14323a10d5295e","type":"change","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1295,"y":1860,"wires":[["5323a9f4755b9988"]],"l":false},{"id":"75f701b40181efe8","type":"switch","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1345,"y":1820,"wires":[["ea97c741718b04d1"]],"l":false},{"id":"5323a9f4755b9988","type":"switch","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1345,"y":1860,"wires":[["06945c4cbf529557"]],"l":false},{"id":"ea97c741718b04d1","type":"change","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1820,"wires":[["e5480f6761fff733"]]},{"id":"f8e0df10da28cd05","type":"ui-notification","z":"b4f3d010637229a4","g":"0e3d47a45226776b","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":2060,"y":1880,"wires":[]},{"id":"39c1f5330976e746","type":"function","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":1880,"wires":[["1b8e761884e3c8ac"]]},{"id":"1b8e761884e3c8ac","type":"trigger","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1935,"y":1880,"wires":[["f8e0df10da28cd05"]],"l":false},{"id":"06945c4cbf529557","type":"change","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1860,"wires":[["e5480f6761fff733"]]},{"id":"4e4c285b189f4aaf","type":"http response","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/ultrasonicvibration"},"x":1810,"y":1920,"wires":[]},{"id":"1599b088f608bb69","type":"function","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"checkLastFlagType","func":"let flag = flow.get(\"flagType\") || 0;\n\nlet unit = {};\n\nif(!flag)// two channel\n{\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-ultrasound:Inspect1\",\n                \"ncd-ultrasound:Inspect2\",\n                \"ncd-ultrasound:Inspect3\",\n                \"ncd-ultrasound:idle1\",\n                \"ncd-ultrasound:idle2\",\n                \"ncd-ultrasound:idle3\",\n                \"ncd-ultrasound:battSingle\"\n            ],\n            show: [\"ncd-ultrasound:ultrasound_group1\",\n                \"ncd-ultrasound:ultrasound_group2\",\n                \"ncd-ultrasound:ultrasound_group3\",\n                \"ncd-ultrasound:ultrasound_group4\",\n                \"ncd-ultrasound:ultrasound_group5\",\n                \"ncd-ultrasound:ultrasound_group6\",\n                \"ncd-ultrasound:battCh1\"\n            ],\n            enable : \n            [\n                \"ncd-ultrasound:selectmac\",\n                \"ncd-ultrasound:download\"\n            ]\n        } \n    }\n}\nelse // one channel\n{\n    unit = {\n        groups: \n        { \n            hide: [\"ncd-ultrasound:Inspect1\",\n                \"ncd-ultrasound:Inspect2\",\n                \"ncd-ultrasound:Inspect3\",\n                \"ncd-ultrasound:ultrasound_group1\",\n                \"ncd-ultrasound:ultrasound_group2\",\n                \"ncd-ultrasound:ultrasound_group3\",\n                \"ncd-ultrasound:ultrasound_group4\",\n                \"ncd-ultrasound:ultrasound_group5\",\n                \"ncd-ultrasound:ultrasound_group6\",\n                \"ncd-ultrasound:battCh1\"\n                ],\n            show: \n            [\n                \"ncd-ultrasound:idle1\",\n                \"ncd-ultrasound:idle2\",\n                \"ncd-ultrasound:idle3\",\n                \"ncd-ultrasound:battSingle\"\n            ],\n            enable : \n            [\n                \"ncd-ultrasound:selectmac\",\n                \"ncd-ultrasound:download\"\n            ]\n        } \n    }\n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1960,"wires":[["9e599bb232c3ca26"]]},{"id":"b330bccc707c9b0d","type":"trigger","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1755,"y":1960,"wires":[["1599b088f608bb69"]],"l":false},{"id":"9e599bb232c3ca26","type":"link out","z":"b4f3d010637229a4","g":"0e3d47a45226776b","name":"link out 66","mode":"link","links":["02921d68bfc912a7"],"x":2015,"y":1960,"wires":[]},{"id":"e877cb427d4f9eb5","type":"ui-group","z":"b4f3d010637229a4","name":"download","page":"fb23b1211846463b","width":"6","height":"1","order":2,"showTitle":false,"className":"grupoDownload","visible":"true","disabled":"false"},{"id":"8a5d873f5ecf6475","type":"ui-group","z":"b4f3d010637229a4","name":"idle1","page":"fb23b1211846463b","width":"6","height":"1","order":3,"showTitle":false,"className":"groupIdle","visible":"true","disabled":"false"},{"id":"a8e15e82d27f8846","type":"junction","z":"b4f3d010637229a4","x":2050,"y":1460,"wires":[["cfa8ab79d14df114"]]},{"id":"4adb36739b1bd0b8","type":"junction","z":"b4f3d010637229a4","x":900,"y":1120,"wires":[["26408927b871eab6","169d48451601a651"]]},{"id":"d3aac5170719fc69","type":"junction","z":"b4f3d010637229a4","x":640,"y":1340,"wires":[["f40f13108ab067d8"]]},{"id":"3310c67c879c816e","type":"group","z":"b4f3d010637229a4","name":"","style":{"fill":"none","label":true},"nodes":["ad1ee09186fcb91e","d6b79502a6c97e77","538cea97251bfd9e"],"x":3494,"y":779,"w":552,"h":82},{"id":"7409ed7a765f37d9","type":"group","z":"b4f3d010637229a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["24d793444bba5428","22a20328eeecf9a5","c928a3e9743d6262","2d70425723a24588","ee1fdc474549366d","20ccb498a9532b35","058ac2e6ce4ec1f1","e5d6181d9db0b683","e846de8e83734966","02921d68bfc912a7"],"x":2894,"y":659,"w":572,"h":202},{"id":"9a724204adf49b36","type":"group","z":"b4f3d010637229a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1ce8ada0dc580759","7e7964cfb4a6d72d","1e3a60889e2cdd2a","fe36dff203c3765e","aa1a72f092b7b455","1f9d799dee739be4","179484281d3307e6","b4b01f935572f3ad","d92a792e41674618","c2c2c08bce35385b","9333bf35f7ec5806","4d5aeb6181e591dd","b8c323a72e2da89e","32287ef5a5774641","1ae9603b11c6cccf","0848016874ddb72f","2e1430d44688f596","bd6c3f8695aa3ecf","11022c9982b90027","b2008478fe51bae1","cda6e195335042f3","7c776758f7995c36","0a4d51466e7f8da5","0a34698a4f71c7cd","bb5b749cc5de4056","a40aa2e66d5355ca","50a4a9ca6803a63e","9fc0d01ee58532d5","8ac77b07728ab6f8","955e3912d5838947","18c4cb1f219039f4","84996f54fbb6e0ea","30c2dcbc047d4033","800e9eacc37c0115","5d36d0673d66103b","f4c15e513b625e4c","6a006cbc4c6ff66e","32fa41292a0976de","0b3ffe046620177e","df97fcfbee56703d","fd5542908791e153","242fdc442940c42e","973378027fd72483","df4541e642e8b88d","6d29816eded2c96c","67c3efced6b928c1","4272fda8c55dc1c8","1d98bda5c73c84bf","685dbb6111a78d4e","7cf370b09b918ee4","8c0b6225e84c5303","72de17893ff03e15","b8735e2552a1c35a","a41f40e87b7c1f8a","9b885a4e251e7ed9","5cb81e1f58646396","cd5d996028370bcc","101547b45acecd9c","a54f0d368353beaf","fdc328cfc92e25c6","80f3852cd8e4feef","6846670b60c08e26","22d641b14c583310","8df223f18358abe5"],"x":2894,"y":1439,"w":1172,"h":542},{"id":"0e3d47a45226776b","type":"group","z":"b4f3d010637229a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["03fd4823ea0e8967","59fb2b4ca8c66398","b055ca239b73177b","f249797ef59567da","80ba2382f7a63fc0","e5480f6761fff733","79900868408fb222","9c14323a10d5295e","75f701b40181efe8","5323a9f4755b9988","ea97c741718b04d1","f8e0df10da28cd05","39c1f5330976e746","1b8e761884e3c8ac","06945c4cbf529557","4e4c285b189f4aaf","1599b088f608bb69","b330bccc707c9b0d","9e599bb232c3ca26"],"x":1074,"y":1779,"w":1102,"h":222},{"id":"23ee9ee007acb60b","type":"ui-group","name":"ultrasound_group1","page":"fb23b1211846463b","width":"6","height":"1","order":7,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"2df616623f3f5e33","type":"ui-group","name":"ultrasound_group3","page":"fb23b1211846463b","width":"6","height":"1","order":9,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"8e70e106371bbf30","type":"ui-group","name":"ultrasound_group5","page":"fb23b1211846463b","width":"6","height":"1","order":11,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"6f9e0615334f8b7a","type":"ui-group","name":"ultrasound_group2","page":"fb23b1211846463b","width":"6","height":"1","order":8,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"37cac2d1d11047af","type":"ui-group","name":"ultrasound_group4","page":"fb23b1211846463b","width":"6","height":"1","order":10,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"8455b5bd3508bb43","type":"ui-group","name":"ultrasound_group6","page":"fb23b1211846463b","width":"6","height":"1","order":12,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"2af7694ec706978a","type":"ui-group","name":"idle2","page":"fb23b1211846463b","width":"6","height":"1","order":4,"showTitle":false,"className":"groupIdle","visible":"true","disabled":"false"},{"id":"9e64ebe8960f5613","type":"ui-group","name":"idle3","page":"fb23b1211846463b","width":"6","height":"1","order":5,"showTitle":false,"className":"groupIdle","visible":"true","disabled":"false"},{"id":"ca9f4a91bc652f66","type":"ui-group","name":"selectmac","page":"fb23b1211846463b","width":"2","height":"1","order":1,"showTitle":false,"className":"grupoSelectMac","visible":"true","disabled":"false"},{"id":"fea22b3a89569272","type":"ui-group","name":"battSingle","page":"fb23b1211846463b","width":"6","height":"1","order":6,"showTitle":false,"className":"groupIdle","visible":"true","disabled":"false"},{"id":"27461a0f4bd15afd","type":"ui-group","name":"battCh1","page":"fb23b1211846463b","width":"6","height":"1","order":13,"showTitle":false,"className":"groupIdle","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"fb23b1211846463b","type":"ui-page","name":"ncd-ultrasound","ui":"ec459411017ddf37","path":"/ultrasound","icon":"radiobox-marked","layout":"flex","theme":"b5f491106ed516b4","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"083e9339e836abbe","type":"ui-group","name":"Inspect1","page":"fb23b1211846463b","width":"6","height":"1","order":14,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"313c889dd1a46f2b","type":"ui-group","name":"Inspect2","page":"fb23b1211846463b","width":"6","height":"1","order":15,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"779f6a10748fb85a","type":"ui-group","name":"Inspect3","page":"fb23b1211846463b","width":"6","height":"1","order":16,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"b5f491106ed516b4","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#000000","groupBg":"#191a1a","groupOutline":"#313030"},"sizes":{"pagePadding":"12px","groupGap":"6px","groupBorderRadius":"8px","widgetGap":"10px"}},{"id":"caccd217c5012f5e","type":"subflow:b4f3d010637229a4","z":"25574290c31446f9","name":"","x":1040,"y":540,"wires":[]}]
